// UTILITIES
// ----------------------------------

.left { float: left; }

.right { float: right; }

.align-left { text-align: left; }

.align-right { text-align: right; }

.align-center { text-align: center; }

.helper {
  display: inline-block;
  height:100%;
  vertical-align: middle;
  width: 0;
}

.height-100 { height: 100%; }

.vertical-top { vertical-align: top !important; }

.vertical-middle { vertical-align: middle !important; }

.vertical-bottom { vertical-align: bottom !important; }

.display-table { display: table; width: 100%; height: 100%; }

.display-table-cell {
  display: table-cell;
  vertical-align: middle;
}

.display-table-row {
  display: table-row;
  vertical-align: middle;
  width: 100%;
}

.display-inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
}

.clearfix:after {
  clear:both;
  content: "";
  display: table;
}

.width-100 { width: 100%; }

.text-bold { font-weight: bold; }

.mb-0 { margin-bottom: 0; }

.block {
  width: 100%;
  max-width: 100%;
}
