<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<title>Moon</title>

	<link rel="stylesheet" href="dist/css/styles.min.css" />

</head>
<body>

	<div id="app"></div>

	<div class="wrapper height-100 text-align-center">
		<header>
			<div class="helper"></div><!--
			--><div class="container display-inline">
				<div class="display-table">
					<div class="display-table-cell align-left">
						<a href="" title="">
							<img src="" alt="" />
						</a>
					</div>
					<div class="display-table-cell align-right">

					</div>
				</div>
			</div>
		</header>
		<main class="align-center">
			<div class="container">
				<div class="row">
					<div id="texto" class="spoken">LO QUE SE DICE</div>
				</div>
				<div class="row">
					<div class="mic display-inline">
						<i class="linearicon-mic display-inline" ></i>
						<div class="c-ball__pulse"></div>
					</div>
					<br>
					<br>
					<p id="talk"></p>
				</div>
				<div class="buttons row">
					<button id="silent" onclick="stop()" class="btn btn-circle">
						<div class="helper"></div><i class="icon-loop display-inline"></i>
					</button><!--
					--><button id="pause" onclick="pause()" class="btn btn-circle">
						<div class="helper"></div><i class="icon-pause2 display-inline"></i>
					</button><!--
					--><button id="silent" onclick="resume()" class="btn btn-circle">
						<div class="helper"></div><i class="icon-play display-inline"></i>
					</button>
				</div>
			</div>
		</main>
	</div>


	<script type="text/javascript" src="dist/js/app.min.js"></script>
</body>
</html>
